@import "src/@fuse/scss/fuse";

.dialog-passphrase {

    width: 450px;
    min-width: 250px;

    .mat-dialog-container {
        padding: 0;

        .form-password {

            .mat-form-field {
                width: 100%;
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;

        .title {
            margin-right: 10mm;
        }
    }

    .vspacer {
        min-height: 10px;
    }

    .message {
        margin-top: -10px;
        font-size: 4.2mm;
        line-height: 6.8mm;
    }

    .check-box {

        .keeppassword-short {
            display: none;
        }
    }

    @include media-breakpoint('xs') {
        width: 100%;

        .check-box {

            .keeppassword-long {
                display: none;
            }

            .keeppassword-short {
                display: inline;
            }
        }
    }

    @include media-breakpoint('gt-xs') {
        width: 100;
    }
}
