@import "src/@fuse/scss/fuse";
@import "src/assets/styles/common";

#product {

    .top-bg {
        height: 234px;
    }

    .content {

        .step-content{
            flex: 1 1 auto;
            max-width: 100%;

            .balance-confirmed,
            .balance-unconfirmed,
            .step-trans-info {
                padding: 5px 20px 5px 20px;

                .divider {
                    border-bottom: solid 1px #dfdfdf;
                    margin: 4mm 0 4mm 0;
                }

                .row {
                    display: flex;
                    justify-content: space-between;
                    line-height: 8mm;

                    &.redwarn {
                        color: red;
                    }
                
                    .description {
                        color: #888;
                        line-height: 19px;
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
            }

            .transaction-field {
                width: 50%;
                padding: 15px;

                .controler-wrapper {
                    padding-bottom: 24px;
                }

                .button-wrapper {
                    margin-left: 5px;
                }
                .button-wrapper > * {
                    margin-right: 10px;
                }
            }

            .info-container {
                width: 50%;
                padding: 15px;
                padding-left: 20px;
            }

            @include media-breakpoint('xs') {

                .balance-confirmed,
                .balance-unconfirmed {
                    padding: 0;
                }

                .transaction-field {
                    width: 100%;
                    padding: 0;
                }
    
                .info-container {
                    width: 100%;
                    padding: 0;
                    margin-top: 36px;
                }
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}
